.wireframe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.logo-bienvenido {
    width: 6.25rem;
    height: 6.25rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.titulo-bienvenido {
    width: 16.0625rem;
    height: 1.1875rem;
    background: #D9D9D9;
}

.tarjeta-bienvenido {
    width: 28.625rem;
    height: 26.375rem;
    background: #D9D9D9;
    border-radius: 1.5625rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    padding-top: 1.1875rem;
    box-sizing: border-box;
}

.logo-tarjeta {
    width: 9.5rem;
    height: 9.5625rem;
    background: #656A67;
    border-radius: 100%;
}

.bloque-imagen {
    width: 25.9375rem;
    height: 9.375rem;
    background: #656A67;
}

.boton-bienvenido {
    width: 21.75rem;
    height: 3.875rem;
    background: #656A67;
}

.pantalla-inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.logo-inicial {
    width: 10.25rem;
    height: 9.75rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.titulo-inicial {
    width: 21.25rem;
    height: 1.6875rem;
    background: #D9D9D9;
}

.circulo-inicial {
    width: 13.125rem;
    height: 11.375rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.contenedor-botones {
    width: 31.25rem;
    height: 21.625rem;
    background: #D9D9D9;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3.125rem;
}

.boton-inicial {
    width: 27.546875rem;
    height: 4.01125rem;
    background: #656A67;
    border-radius: 0.875rem;
}

.registrarse {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
}

.logo-registrarse {
    width: 10.25rem;
    height: 9.75rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.titulo-registrarse {
    width: 21.25rem;
    height: 1.6875rem;
    background: #D9D9D9;
}

.campo-registro {
    width: 27.546875rem;

    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.etiqueta-registro {
    width: 3.5rem;
    height: 0.5625rem;
    background: #D9D9D9;
}

.input-registro {
    width: 27.546875rem;
    height: 4.01125rem;
    background: #D9D9D9;
}

.boton-registro {
    width: 27.546875rem;
    height: 4.01125rem;
    background: #D9D9D9;
}

.texto-registro {
    width: 14.375rem;
    height: 0.6875rem;
    background: #D9D9D9;
}

.icono-registro {
    grid-area: icono;
    width: 1.625rem;
    height: 1.1875rem;
    background: #D9D9D9;
    align-self: flex-start;
}

.header-superior {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blanco {
    width: 1.625rem;
    height: 1.1875rem;
    background: #D9D9D9;
    align-self: flex-start;
}

.LOGO {
    width: 2.8125rem;
    height: 2.8125rem;
    background: #D9D9D9;
    border-radius: 100%;
    align-self: flex-end;
}

.iniciar-sesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
}

.logo-login {
    width: 10.25rem;
    height: 9.75rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.titulo-login {
    width: 21.25rem;
    height: 1.6875rem;
    background: #D9D9D9;
}

.imagen-login {
    width: 10.1875rem;
    height: 9.3125rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.campo-login {
    width: 27.546875rem;

    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
}

.etiqueta-login {
    width: 3.5rem;
    height: 0.5625rem;
    background: #D9D9D9;
}

.input-login {
    width: 27.546875rem;
    height: 4.01125rem;
    background: #D9D9D9;
}

.texto-login {
    width: 14.375rem;
    height: 0.6875rem;
    background: #D9D9D9;
}

.inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.logo-inicio {
    width: 7.8125rem;
    height: 2.625rem;
    background: #D9D9D9;
}

.titulo-inicio {
    width: 13.375rem;
    height: 1.3125rem;
    background: #D9D9D9;
}

.header-arriba {
    display: flex;
    justify-content: space-between; 
    align-items: center;            
    width: 100%;
    padding: 0.9375rem 1.25rem;
    box-sizing: border-box;
}

.logo-circulo {
    width: 4.1875rem;
    height: 4.25rem;
    background: #D9D9D9;
    border-radius: 100%;
    flex-shrink: 0; 
}

.perfil-circulo {
    width: 4.1875rem;
    height: 4.25rem;
    background: #D9D9D9;
    border-radius: 100%;
    flex-shrink: 0; 
}

.circulo-inicio {
    width: 12.625rem;
    height: 12.75rem;
    background: #D9D9D9;
    border-radius: 100%;
    margin: 0.9375rem auto; 
}

.centro-titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.tarjetas-inicio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.375rem;
}

.tarjeta-inicio {
    width: 9.161875rem;
    height: 9.3125rem;
    background: #D9D9D9;
    border-radius: 0.75rem; 
}

.barra-navegacion {
    width: 31.85rem;
    height: 2.679375rem;
    background: #D9D9D9;

    box-shadow: 0rem -0.25rem 0.75rem rgba(0, 0, 0, 0.06);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.icono-navegacion {
    width: 1.119375rem;
    height: 1.119375rem;
}

.opcion-navegacion {
    background: #656A67;
}

.opcion-centro {
    width: 9.4375rem;
    height: 1.375rem;
}

.opcion-izquierda {
    width: 4.9375rem;
    height: 1.625rem;
}

.opcion-derecha {
    width: 5.0625rem;
    height: 1.5625rem;
}

.detalle-humedad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.perfil-humedad {
    width: 2.8125rem;
    height: 2.8125rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.titulo-humedad {
    grid-area: icono;
    width: 11.25rem;
    height: 1.5625rem;
    background-color: #D9D9D9;
    justify-self: center;
}

.tarjeta-estado {
    width: 24.525rem;
    height: 7.464375rem;

    background: #D9D9D9;
    box-shadow: 0rem 0.25rem 0.75rem rgba(0, 0, 0, 0.06);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 0.9375rem;
}

.dato-estado {
    width: 10.125rem;
    height: 1.5625rem;
    background: #656A67;
}

.valor-estado {
    width: 5.625rem;
    height: 2.3125rem;
    background: #656A67;
}

.subtitulo-humedad {
    width: 7.625rem;
    height: 1.375rem;
    background: #656A67;
}

.grafico-humedad {
    width: 24.5rem;
    height: 14.4375rem;

    background: #D9D9D9;
    box-shadow: 0rem -0.25rem 0.75rem rgba(0, 0, 0, 0.06);
    border-radius: 1rem; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.grafico-interior {
    width: 20.4375rem;
    height: 9.8125rem;
    background: #656A67;
}

.texto-grafico {
    width: 11.75rem;
    height: 1.3125rem;
    background: #656A67;
}

.tarjeta-informacion {
    width: 24.5rem;
    height: 4.25rem;

    background: #D9D9D9;
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion-interior {
    width: 22.5625rem;
    height: 2.3125rem;
    background: #656A67;
}

.barra-navegacion {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100%;
    height: 3.125rem;
    background-color: #E0E0E0; 
    padding: 0 0.625rem;
    margin-top: 1.25rem;
}

.icono-navegacion {
    display: none; 
}

.opcion-navegacion {
    height: 1.125rem;
    background-color: #555555;    
    border-radius: 0.125rem;
}

.opcion-izquierda {
    width: 22%;    
    background-color: #555555;                
}

.opcion-derecha {
    width: 22%;     
    background-color: #555555;                
}

.opcion-centro {
    width: 40%;     
    background-color: #555555;                
}

.perfil-temperatura {
    width: 2.8125rem;
    height: 2.8125rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.titulo-temperatura {
    width: 15.75rem;
    height: 2.25rem;
    background: #D9D9D9;
}

.subtitulo-temperatura {
    width: 7.625rem;
    height: 1.375rem;
    background: #656A67;
}

.grafico-temperatura {
    width: 24.5rem;
    height: 14.4375rem;

    background: #D9D9D9;
    box-shadow: 0rem -0.25rem 0.75rem rgba(0, 0, 0, 0.06);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-conductividad {
    width: 2.8125rem;
    height: 2.8125rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.titulo-conductividad {
    width: 15.75rem;
    height: 2.25rem;
    background: #D9D9D9;
}

.subtitulo-conductividad {
    width: 7.625rem;
    height: 1.375rem;
    background: #656A67;
}

.grafico-conductividad {
    width: 24.5rem;
    height: 14.4375rem;

    background: #D9D9D9;
    box-shadow: 0rem -0.25rem 0.75rem rgba(0, 0, 0, 0.06);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.acerca-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.logo-acerca {
    width: 2.8125rem;
    height: 2.8125rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.titulo-acerca {
    width: 15.75rem;
    height: 2.25rem;
    background: #D9D9D9;
}

.perfil-acerca {
    width: 8.25rem;
    height: 7.25rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.subtitulo-acerca {
    width: 18.75rem;
    height: 1.5rem;
    background: #D9D9D9;
}

.tarjeta-proyecto {
    width: 24.5rem;
    height: 11.4375rem;

    background: #D9D9D9;
    box-shadow: 0rem -0.25rem 0.75rem rgba(0, 0, 0, 0.06);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-proyecto {
    width: 15.125rem;
    height: 8.9375rem;
    background: #656A67;
}

.tarjeta-informacion-proyecto {
    width: 24.5rem;
    height: 9.625rem;

    background: #D9D9D9;
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.informacion-proyecto {
    width: 20.125rem;
    height: 7.3125rem;
    background: #656A67;
}

.mi-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.foto-perfil {
    width: 7.186875rem;
    height: 7.150625rem;
    background: #D9D9D9;
    border-radius: 100%;
}

.nombre-perfil {
    width: 6.375rem;
    height: 1.4375rem;
    background: #D9D9D9;
}

.descripcion-perfil {
    width: 9.9375rem;
    height: 1rem;
    background: #D9D9D9;
}

.tarjeta-datos-perfil {
    width: 27.4375rem;
    height: 16.125rem;

    background: #D9D9D9;
    box-shadow: 0rem -0.25rem 0.75rem rgba(0, 0, 0, 0.06);
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.25rem;
}

.dato-perfil {
    width: 14.25rem;
    height: 2rem;
    background: #656A67;
}

.tarjeta-extra-perfil {
    width: 27.400625rem;
    height: 4.469375rem;

    background: #D9D9D9;
    border-radius: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-extra-perfil {
    width: 11rem;
    height: 2rem;
    background: #656A67;
}

@media (max-width: 48rem) {
    body {
        background-color: #EFFEF2; 
    }
}
